{{template "base" .}}

{{define "content"}}

    <!-- Navigation bar implementation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://yatra.eastasia.cloudapp.azure.com/">YatraSahayak</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://yatra.eastasia.cloudapp.azure.com/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://yatra.eastasia.cloudapp.azure.com/reservation">Reservations</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Rooms
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="http://yatra.eastasia.cloudapp.azure.com/singlebed">Single Room</a></li>
                            <li><a class="dropdown-item" href="http://yatra.eastasia.cloudapp.azure.com/coed">Co-ed Room</a></li>
                            <!--              <li><hr class="dropdown-divider"></li>-->
                            <li><a class="dropdown-item" href="http://yatra.eastasia.cloudapp.azure.com/highland">Highland Room</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://yatra.eastasia.cloudapp.azure.com/contact">Contact</a>
                    </li>

                    {{if .IsLogin}}
                        <li class="nav-item">
                            <a class="nav-link" href="http://yatra.eastasia.cloudapp.azure.com/logout" methods="post">Logout</a>
                        </li>
                    {{else}}
                        <li class="nav-item">
                            <a class="nav-link" href="http://yatra.eastasia.cloudapp.azure.com/login">Login</a>
                        </li>
                    {{end}}



                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Enter Room Name" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <!-- Carousal Implementation -->
    <div id="main-homepage-carousel" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#main-homepage-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#main-homepage-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#main-homepage-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/images/outside.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Overview of a House</h3>
                    <p>Stay wherever you want with great nature.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/images/tray.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>A Nice Cup of Tea</h3>
                    <p>We will wake you up at morning with a tray of love.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/images/woman-laptop.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Comfortable Working Time</h3>
                    <p>You get your refreshment from the enviroment.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Welcome, Dialog with Button to Reservation -->
    <div class="text-center welcome-component">
        <h1 class="welcome-text" style="color: white">
            Welcome to Yatra Sahayak
        </h1>
        <p class="welcome-paragraph" style="color: white">
            Amazing companion for your resting places, Book rooms of any quality you want with just a click.
        </p>
        <!-- Booking Button Implementation -->
        <div class="row" style="background-color: #212529">
            <div class="col text-center">
                <a href="http://yatra.eastasia.cloudapp.azure.com/reservation" class="btn btn-success book-button">Make Reservation Now</a>
            </div>
        </div>
    </div>


{{end}}