{{template "base" .}}

{{define "content"}}

    <!-- Navigation bar implementation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://localhost:8080/">YatraSahayak</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://localhost:8080/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/reservation">Reservations</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Rooms
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="http://localhost:8080/singlebed">Single Room</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/coed">Co-ed Room</a></li>
                            <!--              <li><hr class="dropdown-divider"></li>-->
                            <li><a class="dropdown-item" href="http://localhost:8080/highland">Highland Room</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/contact">Contact</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Enter Room Name" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <!-- Login, Dialog with Button to Reservation -->
    <div class="text-center welcome-component">
        <h1 class="welcome-text" style="color: white">
            Login to YatraSahayak
        </h1>
        <p class="welcome-paragraph" style="color: white">
            <a href="/signup"> Don't have account ? </a>
        </p>

        <div class="row">
            <div class="col g-2">

                <form action="/login" method="post" class="needs-validation" novalidate>

                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <div class="input-group flex-nowrap mb-3">
                        <span class="input-group-text" id="addon-wrapping">@</span>
                        <input name="email" id="email" type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="addon-wrapping">
                    </div>

                    <div class="input-group mb-3">
                        <input id="password" name="password" type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="button-addon2">
                        <button type="submit" class="btn btn-success" id="login-button" name="login-button">Login</button>
                    </div>

                </form>
            </div>
        </div>

    </div>


{{end}}