{{template "base" .}}

{{define "content"}}
  <!-- Navigation bar implementation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost/">YatraSahayak</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="http://localhost/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost/reservation">Reservations</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Rooms
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="http://localhost/singlebed">Single Room</a></li>
              <li><a class="dropdown-item" href="http://localhost/coed">Co-ed Room</a></li>
              <!--              <li><hr class="dropdown-divider"></li>-->
              <li><a class="dropdown-item" href="http://localhost/highland">Highland Room</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost/contact">Contact</a>
          </li>

          {{if .IsLogin}}
            <li class="nav-item">
              <a class="nav-link" href="http://localhost/logout" methods="post">Logout</a>
            </li>
          {{else}}
            <li class="nav-item">
              <a class="nav-link" href="http://localhost/login">Login</a>
            </li>
          {{end}}

        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Enter Room Name" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>



  <!-- Make Reservation Implementation -->
  <div class="container reservation-component">
    <div class="row">
      <div class="col">
        <h2>Make your reservation below</h2>

        {{$res := index .Data "reservation"}}
        {{$sdates := index .Data "sdates"}}
        {{$edates := index .Data "edates"}}


        <form action="/make-reservation" method="post" class="" novalidate>
          <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

          <div class="col g-4 mb-2">
            <label for="chosenDates" class="form-label">Room Name: <b> {{$res.Room.RoomName}} </b></label>
            <label for="chosenDates" class="form-label">Arrival: <b> {{$sdates}} </b></label>
            <label for="chosenDates" class="form-label">Departure: <b> {{$edates}} </b></label>
          </div>

          <div class="col g-4 mb-2">
            <label for="first_name" class="form-label">First Name :</label>
            <input name="first_name" class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}" id="first_name" type="text" value="{{$res.FirstName}}" required>
            {{with .Form.Errors.Get "first_name"}}
              <div class="invalid-feedback">({{.}})</div>
            {{end}}
          </div>

          <div class="col g-4 mb-2">
            <label for="last_name" class="form-label">Last Name :</label>
            <input name="last_name" class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}" id="last_name" type="text" value="{{$res.LastName}}" required>
            {{with .Form.Errors.Get "last_name"}}
              <div class="invalid-feedback">({{.}})</div>
            {{end}}
          </div>

          <div class="col g-4 mb-2">
            <label for="email" class="form-label">Email Address :</label>
            <input name="email" class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" id="email" type="email" value="{{$res.Email}}" required>
            {{with .Form.Errors.Get "email"}}
              <div class="invalid-feedback">({{.}})</div>
            {{end}}
          </div>

          <div class="col g-4 mb-2">
            <label for="phone" class="form-label">Phone Number :</label>
            <input name="phone" class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}" id="phone" type="phone" value="{{$res.Phone}}" required>
            {{with .Form.Errors.Get "phone"}}
              <div class="invalid-feedback">({{.}})</div>
            {{end}}
          </div>

          <div style="margin-top: 1em">
            <button type="submit" class="btn btn-primary">Make Reservation</button>
          </div>

        </form>
      </div>
    </div>
  </div>

{{end}}