{{template "base" .}}

{{define "content"}}

    <!-- Navigation bar implementation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://192.46.213.243/">YatraSahayak</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="http://192.46.213.243/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://192.46.213.243/reservation">Reservations</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Rooms
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="http://192.46.213.243/singlebed">Single Room</a></li>
                            <li><a class="dropdown-item" href="http://192.46.213.243/coed">Co-ed Room</a></li>
                            <!--              <li><hr class="dropdown-divider"></li>-->
                            <li><a class="dropdown-item" href="http://192.46.213.243/highland">Highland Room</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="http://192.46.213.243/contact">Contact</a>
                    </li>

                    {{if .IsLogin}}
                        <li class="nav-item">
                            <a class="nav-link" href="http://192.46.213.243/logout" methods="post">Logout</a>
                        </li>
                    {{else}}
                        <li class="nav-item">
                            <a class="nav-link" href="http://192.46.213.243/login">Login</a>
                        </li>
                    {{end}}

                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Enter Room Name" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <!-- Summary Links Implementation -->
    {{$res := index .Data "reservation"}}

    <h2 class="mt-2 text-center">Reservation Summary</h2>
    <hr>
    <div class="container reservation-summary-component">
        <table class="table table-striped">
            <thead></thead>
            <tbody>
                <tr>
                    <td>Room ID:</td>
                    <td>{{$res.RoomID}}</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>{{$res.FirstName}} {{$res.LastName}}</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{$res.Email}}</td>
                </tr>
                <tr>
                    <td>Arrival:</td>
                    <td>{{$res.StartDate}}</td>
                </tr>
                <tr>
                    <td>Departure:</td>
                    <td>{{$res.EndDate}}</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>{{$res.Phone}}</td>
                </tr>

            </tbody>
        </table>
    </div>


{{end}}